<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta charset="UTF-8">
    <title>Table users</title>
    <style>
        table th, table td {
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Таблица пользователей</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Зарплата</th>
        <th>Возраст</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSalary()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getUserRoles()}"></td>
        <td><a th:href="@{/admin/{id}/edit(id=${user.id})}">Изменить</a></td>
        <td><a th:href="'/admin/removeUser?id=' + ${user.getId()}">Удалить</a></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/admin/new}">Сохранить</a>

<div class = "container">
    <h2>Добавить пользователя</h2>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="name">Введите имя:</label>
        <input type="text" field="name" id="name" name="name"/>

        <label for="age">Введите возраст:</label>
        <input type="text" field="age" id="age" name="age"/>

        <label for="salary">Введите зарплату:</label>
        <input type="text" field="salary" id="salary" name="salary"/>

        <label for="username">Введите login:</label>
        <input type="text" field="username" id="username" name="username"/>

        <label for="password">Введите password:</label>
        <input type="password" field="password" id="password" name="password"/>

            <p>
                <label>Roles:
                    <input type="checkbox" name="roles"
                           th:each="role : ${allRoles}"
                           th:text="${role.roleName}"
                           th:value="${role.id}"
                    />
                </label>
            </p>

        <input type="submit" value="Сохранить"/>


        </form>
    <div class ="button">
        <button onclick="window.location.href = '/admin'">К таблице</button>
    </div>
<div class = "container">
    <h2>Изменить пользователя</h2>
    <form th:method="POST" th:action="@{/admin/id}" th:object="${user}">
        <label for="id"></label>
        <input hidden="hidden"  type="number" field="id" th:value="${id}" id="id" name="id"/>

        <label for="nameUpdate">Введите имя:</label>
        <input type="text" field="name" id="nameUpdate" name="name" />

        <label for="ageUpdate">Введите возраст:</label>
        <input type="text" field="age" id="ageUpdate" name="age" />

        <label for="salaryUpdate">Введите зарплату:</label>
        <input type="text" field="salary" id="salaryUpdate" name="salary" />

        <label for="username">Введите login:</label>
        <input type="text" field="username" id="username1" name="username" />

        <label for="password">Введите password:</label>
        <input type="password" field="password" id="password1" name="password" />

        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.roleName}"
                       th:value="${role.id}"

                />
            </label>
        </p>

        <input type="submit" value="Изменить"/>

    </form>
    <div class ="button">
        <button onclick="window.location.href = '/admin'">К таблице</button>
    </div>
</div>
</div>
<button onclick="window.location.href = '/logout'">Выйти</button>
</body>
</html>