<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Edit user</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<th:include th:replace="~{navbar :: navbar}"></th:include>
<div class="row">
   <div class="col-md-3 ml-0 mt-3">
<ul class="nav flex-column nav-pills" id="v-pills-tab">
    <li class="nav-item">
        <a class="nav-link active" id="v-pills-Admin-tab"
       data-toggle="pill" href="#v-pills-Admin"
       role="tab" aria-controls="v-pills-Admin"
       aria-selected="true"
       sec:authorize="hasAuthority('ROLE_ADMIN')">Admin</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="v-pills-User-tab"
       data-toggle="pill" href="#v-pills-User"
       role="tab" aria-controls="v-pills-User"
       aria-selected="false"
       sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')">User</a>
    </li>
</ul>
</div>

<div class="col-md-9 shadow-none p-3 mb-5 bg-light rounded">
<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-Admin"
         role="tabpanel" aria-labelledby="v-pills-tab">
        <h2>Admin Panel</h2>
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="allUser-tab" data-toggle="tab"
                       href="#allUsers"
                       role="tab" aria-controls="home" aria-selected="true">All Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link addUser" id="newUser-tab" data-toggle="tab"
                       href="#newUser"
                       role="tab" aria-controls="profile" aria-selected="false">
                        New User</a>
                </li>
            </ul>


<div class="tab-content border" id="myTabContent">
    <div class="tab-pane fade show active" id="allUsers" role="tabpanel"
     aria-labelledby="allUser-tab">
        <h3 class="p-3 border-0 bg-light">All Users</h3>
        <div class="bg-white p-3 border-0">
        <div class="col-sm-12">
        <table class="table table-striped shadow-sm p-3 mb-5 bg-white rounded">
            <thead>
<tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Salary</th>
    <th scope="col">Age</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
</tr>
</thead>
<tbody class="all-users-table" id = "all-users-table">
<!-- заполнение из admin.js -->
</tbody>
</table>
</div>
</div>
</div>
    <div class="tab-panel fade" id="newUser">
        <h4 class="p-2 border-0 bg-gray">Add new user</h4>
            <div class="container-fluid d-flex justify-content-center align-items-center h-100 text-center bg-white p-3 border-0">
                    <form class="add-user-form" id="add-user-form">
                        <div class="form-group">
                        <label for=nameUser>Name</label>
                            <input class="form-control" name="name" id="nameUser"
                            placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for=salaryUser>Salary</label>
                            <input class="form-control" name="salary" id="salaryUser"
                                   placeholder="Enter salary">
                        </div>
                        <div class="form-group">
                            <label for=ageUser>Age</label>
                            <input class="form-control" name="age" id="ageUser"
                                   placeholder="Enter age">
                        </div>
                        <div class="form-group">
                            <label for=usernameUser>Email</label>
                            <input type = "email" name="username" class="form-control is-valid" id="usernameUser"
                                   placeholder="Enter email">
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="passwordUser">Password</label>
                            <input type = "password" name="password" class="form-control" id="passwordUser"
                                   placeholder="Enter password">
                        </div>
                        <div class="form-group">
                        <label for ="userRoles">Роли</label>
                            <select size="2" class="form-control" id="userRoles" name="roles" required="required" multiple>
                                <option value="1">ADMIN</option>
                                <option value="2">USER</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success" id="add-btn-submit">
                            Add User
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <form>
            <div id="modal-edit" class="modal"
                 tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenteredLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Изменить
                                пользователя</h5>
                            <button id="btn-close-edit" type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="idEdit">ID</label>
                                <input type="text" id="idEdit"
                                       class="form-control text-center" name="id"
                                       readonly="readonly"/>
                            </div>

                            <div class="form-group">
                                <label for="nameEdit">Name</label>
                                <input type="text" id="nameEdit"
                                       class="form-control" name="name"/>
                            </div>
                            <div class="form-group">
                                <label for="salaryEdit">Salary</label>
                                <input type="number"
                                       class="form-control" id="salaryEdit"
                                       name="salary">
                            </div>
                            <div class="form-group">
                                <label for="ageEdit">Age</label>
                                <input type="number"
                                       class="form-control" id="ageEdit"
                                       name="age">
                            </div>
                            <div class="form-group">
                                <label for="usernameEdit">Email</label>
                                <input type="email"  class="form-control is-valid"
                                       id="usernameEdit" name="username">
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback"></div>
                            </div>

                            <label for="rolesEdit">Roles</label>
                            <select class="custom-select"
                                    id="rolesEdit"
                                    name="userRoles" multiple>
                                <option id = "edit-role-admin" value = "1">ADMIN</option>
                                <option id = "edit-role-user" value = "2">USER</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit"
                                    class="btn btn-primary" id = "edit-btn-submit">Update
                            </button>
                            <button id = "btn-exit-edit" type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form>
            <div id = "modal-delete" class = "modal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenteredLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Удалить
                                пользователя</h5>
                            <button id = "btn-close-remove" type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="id1">ID</label>
                                <input type="text" id="id1"
                                       class="form-control text-center" name="id"
                                       readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="name1">Name</label>
                                <input type="text" id="name1"
                                       class="form-control" name="name"
                                       readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="salary1">Salary</label>
                                <input type="number"
                                       class="form-control" id="salary1"
                                       name="salary"
                                       readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="age1">Age</label>
                                <input type="number"
                                       class="form-control" id="age1"
                                       name="age"
                                       readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="username1">Email</label>
                                <input type="email" class="form-control is-valid"
                                       id="username1" name="username"
                                       readonly="readonly"/>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback"></div>
                            </div>

                            <label for="roleDelete">Roles</label>
                            <select class="custom-select"
                                    id="roleDelete"
                                    name="userRoles" multiple>
                                <option id = "delete-role-admin" value = "1">ADMIN</option>
                                <option id = "delete-role-user" value = "1">USER</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button id = "btn-submit-remove" type="submit"
                                    class="btn btn-danger">Delete
                            </button>
                            <button id = "btn-exit-remove" type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>

    <div class="tab-panel fade" id="v-pills-User"
         role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h2>User Panel</h2>
        <div class="tab-content border shadow-sm" id="userTabContent">
            <div class="tab-pane fade show active" id="userTable" role="tabpanel"
                 aria-labelledby="user-tab">
                <h4 class="p-3 border-0 bg-gray">About User</h4>
                <div class="bg-white p-3 border-0">
                    <table class="table table-striped p-3 bg-white">
                        <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>

                </tr>
                </thead>
                <tbody id = "userTableBody">
                </tbody>
            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
                </div>
           </div>
<script src="admin.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>