<th:block th:fragment="navbar">
<header class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-left" id="navbar">
            <div class="col-11 text-white" id="authorisedUser">
            </div>
        </div>
        <div class="navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>
</th:block>
