<th:block th:fragment="navbar">
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class = "navbar-header">
            <a class="nav-link disabled text-white font-weight-bold" href="#" >
                [[*{authUserName}]] With role: [[*{authUserRole}]]</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto"> <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
    </header>
</th:block>